.header-page {
  height: 100vh;
  width: 100%;
  background: url("/img/main.jpg") no-repeat;
  background-size: cover;
}

.search-bar-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

.perfect-product,
.innovate-list,
.search-bar {
  text-align: center;
}

.quick,
.perfect {
  font-size: 55px;
  color: #484848;
  font-weight: 700;
}

.perfect {
  color: green;
}

.innovate-list {
  font-size: 18px;
  line-height: 30px;
  color: #484848;
  font-weight: 300;
  margin-top: 30px;
}

.categories, 
.how-it-works {
  display: flex;
  align-items: center;
  margin-right: 15px;
  height: 70px;
  width: 190px;
  background-color:rgba(255, 255, 255, 0.6);
}

.headers-bottom-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 60px;
}

.text-headers-bottom {
  color: green;
  margin-left: 15px;
  font-size: 14px;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  margin-left: 10px
}

.button-before-all::before {
  background: url('/img/allcateg.png') no-repeat;
  content: '';
  width: 25px;
  height: 25px;
  display: block;
  margin-left: 30px;
  margin-right: 10px;
}

.button-before-how::before {
  background: url('/img/fingerup.png') no-repeat;
  content: '';
  width: 20px;
  height: 30px;
  display: block;
  margin-left: 30px;
  margin-right: 10px;
}

.category-input-header {
  background-color: white;
  height: 70px;
  border-width: 0px;
  font-size: 16px;
  line-height: 30px;
  color:rgba(48, 48, 48, 0.6);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 0 40px 0 45px;
  border-right-width: 1px;
  display: flex;
  align-items: baseline;
  outline: none;
}

.category-input-header:hover {
  cursor: pointer;
}

.category-input-header::after {
  content: '';
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(48, 48, 48, 0.6);
  margin-left: 5px;
  transition: 0.5s ease-out;
}

.category-input-header.open::after { 
  border-bottom: 5px solid rgba(48, 48, 48, 0.6);
  border-top: 0;
}

.select-style {
  position: relative;
}

.dropdown  {
  display: none
}
.dropdown.open {
  display: block;
  position: absolute;
  background: #fff;
  top: 70px;
  width: 164px;
  border-radius: 10px;
  box-shadow: 2.828px 2.828px 3px rgba(44,46,47,0.13);
}

.drop-links {
  transition: background-color 1s ease;
  font-size: 18px;
  color: #484848;
  font-weight: 300;
  padding: 20px 12px 20px 12px;
  border-radius: 10px;
}

.drop-links:hover {
  background-color:  #4dadbb;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
}


.btn-submit-search-header {
  background-color: #4dadbb;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 600;
  height: 70px;
  padding: 0 20px 0 25px;
  border-width: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.input-area-header {
  height: 70px;
  padding: 0;
  border-width: 0;
  width: 100vh;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100vh;
  margin-top: 50px;
}

.search-bar:hover {
  box-shadow: 2.828px 2.828px 3px rgba(44,46,47,0.13);
}

.btn-submit-search-header:hover {
  cursor: pointer;
}

.btn-submit-search-header:focus {
  outline: none;
}

.input-area-header:focus {
  outline-color: #4dadbb;
}

.input-area-header:hover {
  cursor: pointer;
}

.for-margin {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}